Applied Stats

Phrase 1: Import and examine data :

1) Import required libraries

In [1]:
import pandas as pd
from scipy.io import arff
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

plt.style.use('ggplot')

2) Read the dataset file

a) VPN Dataset:

In [2]:
vpn60s = arff.loadarff('data/Scenario A2-ARFF/TimeBasedFeatures-Dataset-60s-VPN.arff')
vpn60s = pd.DataFrame(vpn60s)
vpn60s.head()

,0,1,2,3,4,5,6,7,8,9,...,6925,6926,6927,6928,6929,6930,6931,6932,6933,6934
0,"[2218398.0, 2191528.0, 2192676.0, 9.0, 17.0, 6...","[48738520.0, 48524188.0, 48525131.0, 6.0, 7.0,...","[270207.0, 203681.0, 244006.0, 15.0, 10.0, 271...","[59069229.0, 59069229.0, 59004989.0, 23.0, 10....","[55595001.0, 55424950.0, 55464526.0, 32.0, 23....","[70879295.0, 55916114.0, 70739980.0, 13.0, 10....","[1314540.0, 1314535.0, 1183635.0, 7.0, 17.0, 1...","[16859667.0, 16834434.0, 16834136.0, 8.0, 11.0...","[59999177.0, 59999144.0, 59999127.0, 4.0, 9.0,...","[6613711.0, 6548606.0, 6588175.0, 11.0, 11.0, ...",...,"[9220012.0, 9180317.0, 9220012.0, 70.0, 48.0, ...","[50440564.0, 50440564.0, 50088428.0, 352043.0,...","[1047.0, 0.0, 0.0, -1.0, -1.0, -1.0, -1.0, 0.0...","[16122675.0, 0.0, 16122675.0, -1.0, 16122675.0...","[50506945.0, 50506945.0, 35927823.0, 350191.0,...","[22829253.0, 22829253.0, 0.0, 350190.0, -1.0, ...","[895.0, 0.0, 0.0, -1.0, -1.0, -1.0, -1.0, 0.0,...","[0.0, 0.0, 0.0, -1.0, -1.0, -1.0, -1.0, 0.0, 0...","[0.0, 0.0, 0.0, -1.0, -1.0, -1.0, -1.0, 0.0, 0...","[0.0, 0.0, 0.0, -1.0, -1.0, -1.0, -1.0, 0.0, 0..."
1,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,None,None,None,None,None,None,None,None,None,None

b)No VPN Dataset:

In [3]:
novpn60s = arff.loadarff('data/Scenario A2-ARFF/TimeBasedFeatures-Dataset-60s-NO-VPN.arff')
novpn60s = pd.DataFrame(novpn60s)
novpn60s.head()

,0,1,2,3,4,5,6,7,8,9,...,8570,8571,8572,8573,8574,8575,8576,8577,8578,8579
0,"[59883459.0, 59883459.0, 59849438.0, 1.0, 0.0,...","[59999989.0, 59998050.0, 59972809.0, 0.0, 0.0,...","[143704195.0, 143704195.0, 42106019.0, 0.0, 0....","[59162045.0, 59161897.0, 59160676.0, 7.0, 0.0,...","[59856466.0, 59856466.0, 59824081.0, 7.0, 0.0,...","[59507806.0, 59507806.0, 59475531.0, 3.0, 0.0,...","[59986046.0, 59986046.0, 59984060.0, 4.0, 0.0,...","[52824294.0, 52824224.0, 52822457.0, 6.0, 0.0,...","[59947410.0, 59947410.0, 59924811.0, 5.0, 0.0,...","[59984039.0, 59984039.0, 59955542.0, 7.0, 0.0,...",...,"[131576.0, 131576.0, 128.0, 131576.0, 128.0, 1...","[134598.0, 134598.0, 87.0, 134598.0, 87.0, 134...","[131983.0, 131983.0, 553.0, 131983.0, 553.0, 1...","[133439.0, 133439.0, 88.0, 133439.0, 88.0, 133...","[132625.0, 132625.0, 825.0, 132625.0, 825.0, 1...","[132376.0, 132376.0, 125.0, 132376.0, 125.0, 1...","[129031.0, 0.0, 0.0, -1.0, -1.0, -1.0, -1.0, 0...","[4033681.0, 4033681.0, 0.0, 2016740.0, -1.0, 2...","[4032643.0, 4032643.0, 0.0, 2015849.0, -1.0, 2...","[131385.0, 131385.0, 441.0, 131385.0, 441.0, 1..."
1,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,None,None,None,None,None,None,None,None,None,None

3) Examine dataset structure:

First, I will run dataset.describe() to get the overview about this dataset columns. These colums include:

a)VPN Dataset:

In [4]:
vpn60s.describe()

,0,1,2,3,4,5,6,7,8,9,...,6925,6926,6927,6928,6929,6930,6931,6932,6933,6934
count,2,2,2,2,2,2,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
unique,2,2,2,2,2,2,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
top,"[2218398.0, 2191528.0, 2192676.0, 9.0, 17.0, 6...","[48738520.0, 48524188.0, 48525131.0, 6.0, 7.0,...","[270207.0, 203681.0, 244006.0, 15.0, 10.0, 271...","[59069229.0, 59069229.0, 59004989.0, 23.0, 10....","[55595001.0, 55424950.0, 55464526.0, 32.0, 23....","[70879295.0, 55916114.0, 70739980.0, 13.0, 10....","[1314540.0, 1314535.0, 1183635.0, 7.0, 17.0, 1...","[16859667.0, 16834434.0, 16834136.0, 8.0, 11.0...","[59999177.0, 59999144.0, 59999127.0, 4.0, 9.0,...","[6613711.0, 6548606.0, 6588175.0, 11.0, 11.0, ...",...,"[9220012.0, 9180317.0, 9220012.0, 70.0, 48.0, ...","[50440564.0, 50440564.0, 50088428.0, 352043.0,...","[1047.0, 0.0, 0.0, -1.0, -1.0, -1.0, -1.0, 0.0...","[16122675.0, 0.0, 16122675.0, -1.0, 16122675.0...","[50506945.0, 50506945.0, 35927823.0, 350191.0,...","[22829253.0, 22829253.0, 0.0, 350190.0, -1.0, ...","[895.0, 0.0, 0.0, -1.0, -1.0, -1.0, -1.0, 0.0,...","[0.0, 0.0, 0.0, -1.0, -1.0, -1.0, -1.0, 0.0, 0...","[0.0, 0.0, 0.0, -1.0, -1.0, -1.0, -1.0, 0.0, 0...","[0.0, 0.0, 0.0, -1.0, -1.0, -1.0, -1.0, 0.0, 0..."
freq,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [5]:
vpn60s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Columns: 6935 entries, 0 to 6934
dtypes: object(6935)
memory usage: 108.5+ KB

b)No VPN Dataset:

In [6]:
novpn60s.describe()

,0,1,2,3,4,5,6,7,8,9,...,8570,8571,8572,8573,8574,8575,8576,8577,8578,8579
count,2,2,2,2,2,2,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
unique,2,2,2,2,2,2,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
top,"[59883459.0, 59883459.0, 59849438.0, 1.0, 0.0,...","[59999989.0, 59998050.0, 59972809.0, 0.0, 0.0,...","[143704195.0, 143704195.0, 42106019.0, 0.0, 0....","[59162045.0, 59161897.0, 59160676.0, 7.0, 0.0,...","[59856466.0, 59856466.0, 59824081.0, 7.0, 0.0,...","[59507806.0, 59507806.0, 59475531.0, 3.0, 0.0,...","[59986046.0, 59986046.0, 59984060.0, 4.0, 0.0,...","[52824294.0, 52824224.0, 52822457.0, 6.0, 0.0,...","[59947410.0, 59947410.0, 59924811.0, 5.0, 0.0,...","[59984039.0, 59984039.0, 59955542.0, 7.0, 0.0,...",...,"[131576.0, 131576.0, 128.0, 131576.0, 128.0, 1...","[134598.0, 134598.0, 87.0, 134598.0, 87.0, 134...","[131983.0, 131983.0, 553.0, 131983.0, 553.0, 1...","[133439.0, 133439.0, 88.0, 133439.0, 88.0, 133...","[132625.0, 132625.0, 825.0, 132625.0, 825.0, 1...","[132376.0, 132376.0, 125.0, 132376.0, 125.0, 1...","[129031.0, 0.0, 0.0, -1.0, -1.0, -1.0, -1.0, 0...","[4033681.0, 4033681.0, 0.0, 2016740.0, -1.0, 2...","[4032643.0, 4032643.0, 0.0, 2015849.0, -1.0, 2...","[131385.0, 131385.0, 441.0, 131385.0, 441.0, 1..."
freq,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [7]:
novpn60s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Columns: 8580 entries, 0 to 8579
dtypes: object(8580)
memory usage: 134.2+ KB